<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="vi"/>
    <meta name="description" content="{$meta_description}"/>
    <meta name="keyword" content="{$meta_keyword}"/>
    {$facebook_og}
    {$tpl_constants['css_global']}
    {$tpl_constants['js_global']}
    <title>{$page_title}</title>
</head>
<body>
<div id="header">
    {include="header"}
</div>
<div id="wrapper">
    <div class="wrapper-main">
        <div id="adv_top">
            <a href="{$adv_top['adv_link']}" target="_blank"><img src="{$adv_top['adv_image']}" alt="{$adv_top['adv_link']}"/></a>
        </div>
        {include="main_cat_top"}
        <div class="clearfix"></div>
        <div class="main-content-left pull-left">
            {include="cat_left"}
        </div>
        <div class="main-content-right pull-left">
            {include="cat_right"}
        </div>
    </div>
</div>
{include="footer"}
</body>
</html>