<meta charset="utf-8"/>
<script src="/admin/resources/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/admin/resources/js/recorder/swfobject.js"></script>
<script type="text/javascript" src="/admin/resources/js/recorder/recorder.js"></script>
<script type="text/javascript" src="/admin/resources/js/recorder/gui.js"></script>
<div id="wami"></div>
<script>
    setupRecorder();
    function setupRecorder() {
        Wami.setup({
            id : "wami",
            swfUrl : '../../resources/js/recorder/Wami.swf',
            onReady : setupGUI
        });
    }
    function setupGUI() {
        var gui = new Wami.GUI({
            id : "wami",
            recordUrl : "/admin/startRecorderWoman",
            playUrl : "/admin/playRecorderWoman",
            buttonUrl : '../../resources/js/recorder/buttons.png'
        });

        gui.setPlayEnabled(false);
    }
</script>